<div class="container top30">

  <div class="row">

    <div class="col-md-3">
      <img [src]="artist.images | withoutphoto" class="img-thumbnail img-circle">
    </div>


    <div class="col-md-9">
      <h1>{{artist.name}}</h1>
      <hr>
      <a [href]="artist.external_urls?.spotify" target="_blank" class="btn btn-outline-success">Abrir Spotify</a>
      <button class="btn btn-outline-danger" routerLink = "/search"> Regresar </button>
    </div>

  </div>

  <div class="row top30">
    <div class="col-md-12">
      <table class="table table-dark">
        <thead>
          <tr>
            <th>#</th>
            <th>Foto</th>
            <th>Nombre</th>
            <th>Popularidad</th>
            <th>Escuchar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let song of songs; let index = index">
            <td>{{index + 1}}</td>
            <td><img [src]="song.album.images | withoutphoto" class="img-50" ></td>
            <td>{{song.name}}</td>
            <td>{{song.popularity}}%</td>
            <td>
              <audio controls>
                <source [src]="song.preview_url">
                Actualiza tu navegador
              </audio>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


</div>
